<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/member/login}" method="post">
        <div>
            <label>
                <input type="text" name="memberid" id="memberid" placeholder="id" maxlength="10" required>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="memberpw" id="memberpw" placeholder="password" required>
            </label>
        </div>
        <div>
            <input type="submit" value="login">
            <input type="button" value="back" onclick="location.href='../'">
        </div>
        <div id="white">
            <span id="error-panel" th:if="${param.error}">
                id 또는 비밀번호가 틀렸습니다.
            </span>
        </div>
    </form>
</div>
</body>
</html>